.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#main-header {
  background-color: #160c28;
  position: inherit;
}

#header-logo {
  display: flex;
}
#header-logo:hover {
  transform: scale(1.5);
}

#header-menu a {
  color: #ffffff;
  font-size: 15px;
}
#header-menu a:hover {
  color: #34c9c4;
  transform: scale(1.2);
}
#mobile-menu-trigger{
    border: none;
    background-color: transparent;
    color: #ffffff;
}
#mobile-menu {
    background-color: #554E62;
}
